.payment-section {
    position: absolute;
    background-color:#1989C1;
    text-align: center;
    width: 100%;
    height: 100%;
}

.sucess-card-container {
    background-color: white;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    box-shadow: black 5px 5px 5px 5px ;

}
.sucess-card-container h1{
    font-size: 16px;
    padding: 2rem;
    font-weight: 400;
}

.image-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2rem;

}
.image-cont h1{
    font-size: 15px;
    font-weight: 700;
}

.sucsess {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.info-container {
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
    margin: 2rem;
    font-size: 40px;
    padding: 2rem;
    border-radius: 30px;
    font-family: "Secular One", sans-serif;
}
.nextstep{
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Secular One", sans-serif;
    font-size: 16px;

    color: #1989C1;
    cursor: pointer;
}
.payment img{
    padding: 0rem;
}
.follow-section{
    font-size: 16px;
    font-weight: 400;
    padding: 2rem;

}
.link{
    background-color: black;
    border-radius: 20px;
    padding: 3rem;
}
.timer-sucess{
    font-weight: 600;
    font-size: 30px;
    padding: 2rem;
}
.Share-content{
    width: 40rem;
    font-size: 40px;
    height: 92px;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 15px;
    color: #000000;
    background-color: #FF5338;
    box-shadow: #000000 5px 5px 0px 5px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.img-logo-container{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
    gap: 2rem;
    margin: 2rem;
}
.sponsor{
    color: white;
    font-family: "Secular One", sans-serif;
    font-size: 12px;
    padding: 2rem;
}
.logo{
    width: 100%;
    height: 100%;
}
.whatsapp{
    padding: 1rem;
}
.payment .whatsapp {
    padding: 1rem;
}
.payment.instagram{
    padding: 1rem;
}
.sponsor-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(width<600px) {
    .image-cont {
        width: 50%;
    }
}