.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}

.cart-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    margin-top: 2rem;
    border-bottom: none;
    background-color: #000000;
    color: white;
}

.product-name {
    flex-grow: 1;
    background-color: transparent;
}
.product-name h1{
    font-size: 20px;
    background-color: transparent;
}
.product-name h2{
    font-size: 30px;
    background-color: transparent;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
}

button {
    padding: 5px 10px;
    margin: 0.5rem 5px;
    border: none;
    background-color: #68ce92;
    color: white;
    border-radius: 3px;
    width: 90%;
    

}

.add-button {
    background-color: #57216e;
}

.dropdown-container {
    position: relative;
    width: 94.4%;

}

.dropdown {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    background-color: #9d9d9d;
}
.next{
    width: 20%;
    font-size: 40px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #000000;
    background-color: white;
    box-shadow: #000000 2px 2px 0px 0px  ;
    border: 1px solid black;
    cursor: pointer;
    
}


@media(width<600px) {
    .dropdown {
        width: 100%;

    }
    .dropdown  option{
        width: 50%;
    }

    .dropdown-container {
        width: 100%;
    }
    .cart-card{
        width: auto;
    }
    .next{
        width: 90%;
    }
}